<div
  class="flex flex-col h-screen bg-gray-50 text-gray-800 shadow-xl transition-all duration-300"
  [ngClass]="{
    'w-64': isSidebarExpanded,
    'w-20': !isSidebarExpanded,
    'absolute z-50': !isFixed,
    'relative z-30': isFixed,
  }"
  (mouseenter)="toggleSidebar(true)"
  (mouseleave)="toggleSidebar(false)"
>
  <div
    class="flex items-center justify-center px-4 py-8"
    [ngClass]="{
      'justify-between': isSidebarExpanded,
      'justify-center': !isSidebarExpanded,
    }"
  >
    <div class="flex items-center">
      <a routerLink="/">
        <img
          src="assets/logo.png"
          alt="Logo"
          [ngClass]="{
            'h-12': isSidebarExpanded,
            'h-8': !isSidebarExpanded,
          }"
        />
      </a>
      <a
        *ngIf="isSidebarExpanded"
        class="mx-4 text-lg font-bold text-gray-800 hover:text-blue-900"
        routerLink="/"
      >
        Mercadinho <br />
        da Mesada
      </a>
    </div>
    <button
      *ngIf="isSidebarExpanded"
      class="relative flex items-center justify-center w-6 h-6 rounded-full border-[2px] border-yellow-400 hover:bg-yellow-400 cursor-pointer"
      (click)="toggleFixedSidebar()"
    >
      <span
        [ngClass]="{
          'bg-yellow-400': isFixed,
          'bg-transparent': !isFixed,
        }"
        class="absolute w-3 h-3 rounded-full transition-all duration-200"
      ></span>
    </button>
  </div>

  <ul
    class="mt-6 space-y-4"
    [ngClass]="{
      'items-start': isSidebarExpanded,
      'items-center justify-center': !isSidebarExpanded,
    }"
  >
    <li
      *ngFor="let item of menuItems"
      class="group flex items-center p-2 rounded-md cursor-pointer hover:bg-gradient-to-r hover:bg-gray-200 hover:rounded-r-full duration-300"
      [ngClass]="{
        'justify-start': isSidebarExpanded,
        'justify-center': !isSidebarExpanded,
      }"
      [routerLink]="item.route"
      routerLinkActive="bg-gradient-to-r from-cyan-600 to-blue-700 text-white rounded-r-full"
    >
      <fa-icon
        [icon]="item.icon"
        class="text-gray-500 group-hover:text-gray-700 text-lg"
        routerLinkActive="text-white hover:text-white"
      ></fa-icon>
      <span *ngIf="isSidebarExpanded" class="ml-3 group-hover:text-gray-700">
        {{ item.label }}
      </span>
    </li>
  </ul>
</div>
