<app-logo-header></app-logo-header>

<div class="flex h-screen">
  <div
    class="hidden lg:flex w-4/6 bg-gradient-to-r from-blue-300 to-blue-100 justify-center items-center"
  >
    <img
      src="assets/kids-shopping.png"
      alt="Ilustração de login"
      class="w-6/12"
    />
  </div>

  <div
    class="flex flex-col w-full lg:w-2/6 justify-center items-center bg-gray-50"
  >
    <div class="max-w-sm w-full p-8">
      <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
        Crie sua conta! <span class="text-blue-500">👋</span>
      </h2>
      <p class="text-gray-600 text-sm mb-12 text-center">
        Preencha as informações abaixo para se cadastrar.
      </p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Nome Completo
          </label>
          <div class="relative">
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="Seu nome completo"
              class="block w-full mt-1 px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            />
            <fa-icon
              [icon]="'user'"
              class="solid absolute right-3 top-[10px] text-gray-400"
            ></fa-icon>
            <div
              *ngIf="submitted && f['name'].errors"
              class="text-red-500 text-sm mt-1"
            >
              <div *ngIf="f['name'].errors['required']">
                O campo Nome Completo é obrigatório.
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email
          </label>
          <div class="relative">
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="seu@email.com"
              class="block w-full mt-1 px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            />
            <fa-icon
              [icon]="'envelope'"
              class="solid absolute right-3 top-[10px] text-gray-400"
            ></fa-icon>
            <div
              *ngIf="submitted && f['email'].errors"
              class="text-red-500 text-sm mt-1"
            >
              <div *ngIf="f['email'].errors['required']">
                O campo Email é obrigatório.
              </div>
              <div *ngIf="f['email'].errors['email']">
                Digite um endereço de email válido.
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700">
            Senha
          </label>
          <div class="relative">
            <input
              type="password"
              id="password"
              formControlName="password"
              placeholder="············"
              class="block w-full px-4 py-2 mt-1 text-sm border rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
            />
            <fa-icon
              [icon]="'lock'"
              class="solid absolute top-[10px] right-3 text-gray-400"
            ></fa-icon>
            <div
              *ngIf="submitted && f['password'].errors"
              class="text-red-500 text-sm mt-1"
            >
              <div *ngIf="f['password'].errors['required']">
                O campo Senha é obrigatório.
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-500"
        >
          Cadastrar
        </button>
      </form>

      <div class="text-center text-sm text-gray-600 mt-8">
        Já tem uma conta?
        <a href="/auth/login" class="text-blue-500 hover:underline">
          Entre agora
        </a>
        .
      </div>
    </div>
  </div>
</div>
